/* Colors */
$color-light: #ffffff;
$color-dark: #000000;

$button-color: #F58220;

$background-nav: #191919;
$background-color: #f5f5f3;
$background-color2: #e7e7e7;
$background-click: #282828;

$text-color: #A6A6A6;
$text-sidebar: #797979;
$text-topbar: #9C9C9C;
$text-links: #56819F;

/* Font sizes */
$title-size: 18px;
$font-size: 14px;


/* Fonts */
$main-font: 'Roboto', sans-serif;
$logo-font: 'Petit Formal Script', cursive;

* {
    box-sizing: border-box;
  }