.links-column {
  margin: 0 auto;
  padding: 15px 0;
  list-style: none;
  width: 100%;
  max-width: 800px;
  font-family: $main-font;
  color: $text-color;
  font-size: $font-size;
  justify-content: space-between;
  cursor: pointer;

  li {
    border-bottom: 1px solid $background-color2;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &:first-child {
      border-top: 1px solid $background-color2;
    }

    a {
      display: inline-block;
      font-weight: normal;
      text-decoration: none;
      color: $text-links;
      padding: 20px 0;
      align-items: center;
    }

    .icons-list {
      display: flex;
      justify-content: space-between;

      .icons {
        padding: 10px;
        opacity: 0;

        &:hover {
          filter: invert(70%) sepia(71%) saturate(4103%) hue-rotate(348deg) brightness(100%) contrast(93%);
        }
      }

    }

    &:hover {
      background-color: $background-color;

      .icons {
        opacity: 1;
      }
    }
  }
}


@media (max-width: 768px) {
  .links-column {
    width: 100%;
    margin-top: 10px;
    padding: 0 10px;
    font-size: 11px;

    li {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      a {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        color: $text-links;
      }
    }
  }
}