.personal-form {
width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;

.password{
  border: 0;
}

  fieldset {
    width: 400px;
    padding: 20px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid $text-color;
  }

  .field {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 15px;

    &:last-child {
      margin-bottom: 15px;
    }

    label {
      font-size: 16px;
      font-family: $main-font;
      width: 100%;
    }
    input{
      height: 30px;
      flex: 1;
    }
  }
}

.btn-save {
  padding: 0 25px;
}

@media (max-width: 768px) {
  .personal-form {
    margin-left: 20px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .personal-form {
    margin-left: 20px;
  }
}