.scroll-wrapper {
  width: 100%;
  display: block;
  justify-content: center;
  overflow-x: auto;
  align-items: stretch;

  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    cursor: pointer;

    thead tr {
      color: $text-color;
      text-align: left;
      font-weight: 700;
      border-bottom: 1px solid $background-color2;

    }

    th,
    td {
      padding: 22px 25px;

      &:hover {

        background-color: $background-color;
        color: $color-dark;

        .icon-arrow-up {
          opacity: 1;
        }
      }

    }

    tbody tr {
      border-bottom: 1px solid $background-color2;

      &:hover {
        background-color: $background-color;
        cursor: pointer;
      }
    }

    td {
      color: $color-dark;
    }
  }
}

.scroll-wrapper::-webkit-scrollbar {
  display: block;
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $color-dark;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}